## Version: $Id$
##
######################################################################
##
### Commentary:
##
######################################################################
##
### Change Log:
##
######################################################################
##
### Code:

*~
*.elc

## #################################################################
## Generated folders
## #################################################################

prolusion-docs
prolusion-elpa
prolusion-irony
prolusion-save

######################################################################
### .gitignore ends here
