## Version: $Id$
##
######################################################################
##
### Commentary:
##
######################################################################
##
### Change Log:
##
######################################################################
##
### Code:

*~
*.elc
*.pyc

## #################################################################
## Generated folders
## #################################################################

prolusion-docs
prolusion-elpa
prolusion-eshell
prolusion-save
prolusion-semantic

## #################################################################
## Mail Repositories
## #################################################################

prolusion-mail/draft
prolusion-mail/gmail
prolusion-mail/icloud
prolusion-mail/inbox
prolusion-mail/inria
prolusion-mail/local
prolusion-mail/queue

######################################################################
### .gitignore ends here
