### .prolusionrc ---
##
## Author: Julien Wintz
## Created: Wed Feb 19 09:18:20 2014 (+0100)
## Version:
## Last-Updated:
##           By:
##     Update #: 110
######################################################################
##
### Change Log:
##
######################################################################

[general]
accounts = Inria, iCloud, Gmail
maxsyncaccounts = 3
pythonfile = ~/.prolusion.d/prolusion-mail/prolusion-mail.py

## #################################################################
## Accounts
## #################################################################

[Account Inria]
localrepository = InriaLocal
remoterepository = InriaRemote
maxage = 30

[Account iCloud]
localrepository = iCloudLocal
remoterepository = iCloudRemote
maxage = 30

[Account Gmail]
localrepository = GmailLocal
remoterepository = GmailRemote
maxage = 30

## #################################################################
##
## #################################################################

[Repository InriaLocal]
type = Maildir
localfolders = ~/.prolusion.d/prolusion-mail/inria

[Repository iCloudLocal]
type = Maildir
localfolders = ~/.prolusion.d/prolusion-mail/icloud

[Repository GmailLocal]
type = Maildir
localfolders = ~/.prolusion.d/prolusion-mail/gmail

## #################################################################
## Repositories
## #################################################################

[Repository InriaRemote]
type = IMAP
remotehost = zimbra.inria.fr
remoteuser = julien.wintz@inria.fr
remotepasseval = passwd("inria/imap")
cert_fingerprint = 1fef48f9d064efb06419162b1f583badae75ed2c
ssl = true
folderfilter = lambda folder: folder not in ['Contacts', 'Emailed Contacts']

[Repository iCloudRemote]
type = IMAP
remotehost = imap.mail.me.com
remoteuser = julien.wintz
remotepasseval = passwd("icloud/imap")
cert_fingerprint = ca63a1b71691dde647ee61e20dc7e242052db8c0
ssl = true

[Repository GmailRemote]
type = Gmail
remoteuser = jwintz@gmail.com
remotepasseval = passwd("google/imap")
cert_fingerprint = 89091347184d41768bfc0da9fad94bfe882dd358
ssl = true
folderfilter = lambda folder: folder not in ['[Gmail].All Mail', '[Gmail].Drafts', '[Gmail].Sent Mail', '[Gmail].Trash']
